.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: white;
}
.header {
  min-height: 600px;
  max-height: 756px;
  display: flex;
  padding: 0;
  margin:0;
  position: relative;
  background-color:  #f2f2f2;
  overflow: hidden;
}
.logo{ 
  background-position: center;
  background-size: cover;
  background-image: url(../images/logo_place_header.svg);
  width: 183px;
}
.logo_place_header {
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}
.header__title{ 
  max-width: 730px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  color: #000000;
}
.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.header__link{
  text-decoration: none;
  color: #2f80ed;
}
.header__main-illustration{ 
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-image: url(../images/header-image.png);
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header__square-pic{
  background-color: #2f80ed;
  background-position: center;
  background-size: cover;
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  margin: 0;
  padding: 0;
}
.description{
  min-height:350px;
  max-height: 400px;
  display:flex;
  justify-content: center;
  padding: 100px 0;
  margin: 0;
}
.two-columns{
  height: 100%;
  width: 80%;
  display: flex;
  justify-content:space-between;
}
.two-colunms__brief{
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  margin: 0;
}
.two-columns__paragraph{
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin: 0;
} 
.digits{
  min-height: 600px;
  max-height: 756px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  width: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.section-subtitle{
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.table{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  }
.table__cell{
  width: 250px;
  margin-top: 60px;
}
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}
.table__text{
  margin-bottom: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.feynman{
  min-height: 890px;
  padding-top: 100px;
  padding-bottom:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color:  #f2f2f2;
}
.feynman__title{
  font-size: 120px;
  line-height: 1.15;
  font-weight: 700;
  color: #000000;
  width: 648px;
  z-index: 1;
  text-align: center;
}
.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  z-index: 1;
  margin-top: 70px;
  color: #000000;
}
.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color:#2f80ed;
  position: absolute;
  right: 48px;
  bottom: 50%;
  text-decoration: none;
}
.feynman__img{
  width: 867px;
  height: 637px;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.kaufman { 
  min-height: 600px;
  max-height: 756px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin:0;
  position: relative;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.kayfman__triangle{
  width: 877px;
  height: 877px;
  margin: 0;
  position: absolute;
  right: -210px;
  top: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-position: center;
  background-size: cover;
}
.section-title_theme_dark{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  color:  #f2f2f2;
  margin: 0;
  z-index: 1;
}
.section-subtitle_theme_dark{
  color: #f2f2f2;
  margin-top: 20px;
  z-index: 1;
}
.table_theme_dark{
 z-index: 1;
}
.table__cell_theme_dark{
  color:#f2f2f2;
  width: 200px;
  margin-top: 80px;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.table__heading_theme_dark{
  color: #f2f2f2;
}
.table__text_theme_dark{
  color: #f2f2f2;
 }
.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}
.footer__columns{
  width: 90%;
  margin:0;
  padding:0;
  display:flex;
}
.footer__column{
  display: flex;
  
}    
.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.logo_place-footer{
  height: 35px;
  background-image:url(../images/logo_place_footer.svg);
}
.footer__author{
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  color:  #f2f2f2;
}
.footer__column_content_info{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-left: auto;
}
.footer__column_content_social{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-left: auto;
}
.footer__column-heading{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #f2f2f2;
}
.footer__column-links{
  margin-top: 20px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  padding: 0;
  
}
.footer__column-link{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #f2f2f2;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.footer__social-icon{
  width: 16px;
  height: 16px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}